﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        body {
            width: 900px;
            margin: 10px auto;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        h2 {
            margin: 0;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #e1e1e1;
            text-align: center;

        }
        input {
            margin: 5px;
            padding: 2px;
            border: 1px solid #ccc;
        }
        input[type="submit"] {
            width: 100px;
        }
    </style>
</head>
<body>
    <h2>DataFormer file upload</h2>
    <form method="post" enctype="multipart/form-data" action="/rest/conversion/upload">
        <p>Select files to upload:</p>
        <input type="file" name="file" id="file" />
        <p align="center">
            <input type="submit" value="submit" />
        </p>
    </form>
</body>
</html>